Source: tibackupui
Section: admin
Priority: optional
Maintainer: Rene Hadler <rene@iksdeh.at>
Build-Depends: debhelper (>= 8.0.0)

Package: tibackupui
Architecture: amd64
Depends: ${shlibs:Depends}, tibackup
Conflicts:
Replaces:
Provides: tibackupui
Description: Main tibackup program UI interface
