#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	mkdir -p debian/tibackupui/usr/bin
	mkdir -p debian/tibackupui/usr/share/applications
	mkdir -p debian/tibackupui/usr/share/pixmaps
	cp -a obj-x86_64-linux-gnu/tiBackupUi debian/tibackupui/usr/bin/.
	cp -a app-entry/tibackupui.desktop debian/tibackupui/usr/share/applications/.
	cp -a app-entry/tibackup.png debian/tibackupui/usr/share/pixmaps/.
